myblack=rgba(0,0,0,.75)
mywhite=#fff
*
    margin 0
    padding 0
html,body
	height 100%
	width 100%
a
	text-decoration none
	text-align center
	color #000
	font-size 2.3rem
header
	a
		width 8rem
		color myblack
		&:hover
			text-decoration underline
			color darken(myblack, 20%)
		img
			width 4rem
	.btn-group,span
		text-align center
		width 8rem
		line-height 3.4rem
	.sign
		width 4rem
		font-size 1rem
//.选择器
.container
	font-size 2.8rem
.default
	background-color #deb
	a
		color: #555
.dark
	background-color #000
	color mywhite
	button
		background-color mywhite
	a
		color darken(mywhite,25%)
		&:hover
			color: mywhite
		img
			-webkit-filter drop-shadow(rgb(255, 204, 153) 4rem 0);
			filter drop-shadow(rgb(255, 204, 153) 4rem 0);
			margin-left -8rem
.quite
	background-color rgb(254, 254, 234)
.light
	background-color mywhite
	a
		&:hover
			color: #666
.alertContainer
	position fixed
	top 3rem
	left 5rem
	z-index 3
	width 100%
	pointer-events none 
	height 5rem
	width 40rem
	.alert
		height 5rem
		font-size 1.2rem
		pointer-events auto
//#选择器
#test//测试页
	font-size 1rem
	text-align center
	.form-control
		width 29%
		vertical-align middle
		display inline-block
		margin 1rem 0
#vote//投票页
	text-align center
	li
		font-size 3rem
		list-style none
		span
			vertical-align middle
		.btn
			font-size 2rem
			vertical-align middle
#signin,#signup//登录注册页
	font-size 1.5rem
	.form-control
		width 22rem
		font-size 2rem
		display inline-block
		margin .5rem
	span
		//换行
		display inline-block
		width 15rem
	p
		text-align center
		button
			font-size 1.5rem
		a
			font-size 1.8rem
			vertical-align middle
#up
	position fixed
	bottom .1rem
	right .6rem
//
::-webkit-scrollbar
	width .5rem
::-webkit-scrollbar-thumb
	background #eee
	box-shadow: inset 0 0 .1rem rgba(0,0,0,0.3)
	border-radius .3rem
