myblack=rgba(0,0,0,.75)
mywhite=#fff
html,body
    margin 0
    padding 0
a
	text-decoration none
	color #000
	font-size 1.3rem
header
	a
		color myblack
		&:hover
			text-decoration underline
			color darken(myblack, 20%)
.home
	margin 0 8rem 0 0
.input
	display inline-block
	border 1px solid #657
	width 25rem
	border-radius .3rem
	margin .8rem 0 0 1rem
.p
	text-indent 3.6rem
	text-align left
	word-break break-all
.fa-search
	font-size 3rem
.default
	background-color #deb
	a
		color: #555
.dark
	background-color #000
	color mywhite
	button
		background-color mywhite
	a
		color darken(mywhite,25%)
		overflow visible
		&:hover
			color mywhite
		img
			filter: invert(90%) sepia(1);
.quite
	background-color rgb(254, 254, 234)
.light
	background-color mywhite
	a
		&:hover
			color: #666
.alertContainer
	position fixed
	top 3rem
	left 5rem
	z-index 3
	width 100%
	pointer-events none
	width 40rem
	.alert
		font-size 1.2rem
		pointer-events auto
#listgroup-ex
	overflow auto
	height 50rem
	font-size 1.6rem
#test//测试页
	select
		width 15rem
		border 1px solid #000
	.form-control
		height 4rem
		margin 1rem 0
#vote//投票页
	.form-control
		width 15rem
		margin 0 2rem
		border 1px solid #000
	li
		font-size 3rem
		list-style none
#signin,#signup//登录注册页
	font-size 1.5rem
	.form-control
		margin .5rem
	span//换行
		width 15rem
	p
		font-size 1.5rem
#up
	position fixed
	bottom 3rem
	right 4.8rem
	border 1px solid #000
	border-radius .3rem
	padding .8rem 1.5rem
::-webkit-scrollbar//滚动条样式
	width .3rem
::-webkit-scrollbar-thumb
	background #eee
	box-shadow: inset 0 0 .3rem rgba(0,0,0,0.3)
	border-radius .3rem
html
	overflow-x hidden
body
	width 100vw
	overflow hidden
    margin 0 calc(100vw - 100%) 0 0
a,span,#test,p,#vote
	text-align center
.form-control,span,a,.fa-search,font
	display inline-block
	vertical-align middle
.form-control,#up
	font-size 2rem
img,.sign
	width 4rem
.alert,.alertContainer
	height 5rem
#test,.sign
	font-size 1rem
.form-control
	width 22rem
	border 0
.form-control:focus//去掉焦点
	outline none
	box-shadow  none
span,a
	width 8rem
span,.btn-group
	line-height 2rem
