*
    margin 0
    padding 0
a
	text-decoration none
	text-align center
	color #000
	font-size 2.3rem
header
	background-color #deb
	a
		width 9rem
		img
			width 4rem
content
	font-size 2.8rem
#test
	font-size 1rem
	text-align center
	.form-control
		width 29%
		vertical-align middle
		display inline-block
		margin 1rem 0 1rem
	iframe
		width 100%
#vue
	color #42b983
#webpack
	color rgb(141, 214, 249)
#stylus
	color #ff6347
#nginx
	color #009000
#ngrok
	color #dd4814
#ESLint
	color #3a33d1
	text-decoration line-through
#Babel
	color #f5da55
#Yarn
	color #2188b6
#MySQL
	color #f09018
	span
		color #007890
#Node
	color #fff
	text-shadow 0 0 .10rem #000
	span
		color #60a860
#PM2
	text-shadow 0 0 .10rem #48d8f0
	font-weight bolder
	color #fff
#vote
	text-align center
	.alert
		position absolute
		width 60%
		left 20%
		z-index 3
	li
		font-size 3rem
		list-style none
		span
			vertical-align middle
		.btn
			font-size 2rem
			vertical-align middle
.img
	width 100%
