font=rgba(0,0,0,.75)
*
    margin 0
    padding 0
a
	text-decoration none
	text-align center
	color #000
	font-size 2.3rem
header
	a
		width 9rem
		color font
		&:hover
			text-decoration none
			color darken(font, 20%)
		img
			width 4rem
content
	font-size 2.8rem
#test
	font-size 1rem
	text-align center
	.form-control
		width 29%
		vertical-align middle
		display inline-block
		margin 1rem 0 1rem
	iframe
		width 100%
#vote
	text-align center
	.alert
		position absolute
		width 60%
		left 20%
		z-index 3
	li
		font-size 3rem
		list-style none
		span
			vertical-align middle
		.btn
			font-size 2rem
			vertical-align middle
.img
	width 100%
.default
	background-color #deb
.dark
	background-color #000
	button
		background-color rgba(255,255,255,.75)
	a
		color #fff
		&:hover
			color: #ddd
.quite
	background-color rgb(66,44,109)
	button
		background-color #20c997
	a
		color #deb
		&:hover
			color: #de0
.light
	background-color #fff
	a
		&:hover
			color: #666
