font=rgba(0,0,0,.75)
*
    margin 0
    padding 0
a
	text-decoration none
	text-align center
	color #000
	font-size 2.3rem
header
	a
		width 8rem
		color font
		&:hover
			text-decoration none
			color darken(font, 20%)
		img
			width 4rem
	div,span
		line-height 3.4rem
		width 8rem
		text-align center
	.sign
		width 2rem
		font-size 1rem
content
	font-size 2.8rem
#test
	font-size 1rem
	text-align center
	.form-control
		width 29%
		vertical-align middle
		display inline-block
		margin 1rem 0 1rem
#vote
	text-align center
	li
		font-size 3rem
		list-style none
		span
			vertical-align middle
		.btn
			font-size 2rem
			vertical-align middle
.img
	width 100%
.default
	background-color #deb
.dark
	background-color #000
	color #fff
	button
		background-color rgba(255,255,255,.75)
	a
		color #fff
		&:hover
			color: #ddd
		img
			-webkit-filter drop-shadow(rgb(255, 204, 153) 4rem 0);
			filter drop-shadow(rgb(255, 204, 153) 4rem 0);
			margin-left -8rem
.quite
	background-color rgb(254, 254, 234)
.light
	background-color #fff
	a
		&:hover
			color: #666
#signin,#signup
	font-size 1.5rem
	.form-control
		width 22rem
		font-size 2rem
		display inline-block
		margin .5rem .5rem .5rem 5rem
	p
		text-align center
		button
			font-size 1.5rem
		a
			font-size 1.8rem
			vertical-align middle
.alertContainer
	height 3.4rem
